{% extends 'base.html.twig' %}

{% block title %}Hotel 5{% endblock %}

{% block body %}

    <h1>Création Employer</h1>
    <form method="GET">
        <label>Identifiant :</label><input id="usr" name="usr"><br>
        <label>Mots de passe :</label><input id="mdp" name="mdp"><br>
        <input type="submit" id="submit" name="submit" value="Envoyer">
    </form>
    <br/>
    <br/>


{% endblock %}